/*///////////////////////////////////////////////////////////////////////title///////////////////////////////////////////////////////////////////////////////////////*/

#img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*/ //////////////////////////////////////////////////////////////////////work///////////////////////////////////////////////////////////////////////////////////////*/
/* App容器 */
#app {
    width: 100%;
    height: auto;
}

/* 每個作品區域 */
.work {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: black;
}

/* 偶數 */
.even {
    .gradient-overlay2 {
        position: absolute;
        left: 0;
        width: 90%;
        height: 100%;
        background: linear-gradient(
            to right,
            rgb(1, 4, 17) 50%,
            rgba(3, 13, 49, 0) 70%
        );
    }
}

/* 奇數 */
.odd {
    .gradient-overlay2 {
        position: absolute;
        right: 0;
        width: 90%;
        height: 100%;
        background: linear-gradient(
            to left,
            rgb(1, 4, 17) 50%,
            rgba(3, 13, 49, 0) 70%
        );
    }
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    height: 100vh;
    width: 45%;
    left: 10vw;
    z-index: 1;
}

.inner h3 {
    text-align: left;
    font-size: 80px;
    color: aliceblue;
}

.box {
    width: 100vh;
    height: 80%;
}

.box .img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 15px;
}
