/* initial */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    user-select: none;
}

a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: rgb(202, 201, 141);
}

h1 {
    color: aliceblue;
    font-weight: bold;
}

h2 {
    color: aliceblue;
    font-weight: bold;
}

h3 {
    color: aliceblue;
}

h4 {
    color: aliceblue;
}

/* header */
#mainNav {
    background-color: transparent;
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;
}

#mainNav.shrink {
    background-color: rgba(58, 58, 58, 0.5);
    backdrop-filter: blur(10px);
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

#mainNav .navbar-brand {
    text-align: center;
    width: 36.5vw;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    transition: font-size 0.3s ease-in-out;
}

#mainNav.shrink .navbar-brand {
    font-size: 2rem;
}

#mainNav .navbar-brand:hover {
    color: white;
}

#mainNav .container-fluid .navbar-toggler {
    font-size: 2rem;
    color: white;
}

#navbarNav {
    color: white;
    font-size: 1.5rem;
}

#navbarNav .navbar-nav .nav-item .nav-link {
    margin: auto 1vw;
    color: white;
}

#navbarNav .navbar-nav .nav-item .nav-link:hover {
    color: rgb(202, 201, 141);
}

/* main */
main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: black;
}

/* title */
.title {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */
    overflow: hidden; /* 防止内容溢出 */
}

.title h2 {
    font-size: 80px;
    line-height: 100vh;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
    -webkit-text-stroke: 2px black; /* 描边宽度和颜色 */
}

.gradient-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(
        circle,
        rgba(3, 13, 49, 0) 20%,
        rgb(1, 8, 30) 80%
    ); /*%是代表漸層範圍*/
}

/*backToTop */
#backToTop {
    opacity: 0;
    pointer-events: none; /* 禁止点击 */
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 15px 30px;
    background-color: rgba(58, 58, 58, 0.5);
    color: #fff; /* 按钮文字颜色 */
    border: none;
    border-radius: 15px; /* 圆形按钮 */
    font-size: 16px;
    align-items: center;
    z-index: 100;
}

#backToTop:hover {
    color: rgb(202, 201, 141);
}
