/*///////////////////////////////////////////////////////////////////////title///////////////////////////////////////////////////////////////////////////////////////*/

#mp4 {
    height: 100%;
    width: 100%;
}

/*///////////////////////////////////////////////////////////////////////me///////////////////////////////////////////////////////////////////////////////////////*/

.me {
    position: relative;
    height: 800px;
    display: flex;
}

.gradient-overlay2 {
    position: absolute;
    transform: translateY(100px); /* 初始位置在下方 */
    opacity: 0;
    left: 0;
    width: 80%;
    height: inherit;
    background: linear-gradient(
        to left,
        rgb(1, 4, 17) 37%,
        rgba(3, 13, 49, 0) 55%
    );
}

.me img {
    transform: translateY(100px);
    opacity: 0; /* 初始不可见 */
    width: 50%;
    height: inherit; /* 高和寬都填滿容器 */
    object-fit: cover; /* 和background-img設定background-size: cover一樣，圖片剛好填滿 */
    object-position: center;
}

.info {
    display: flex;
    transform: translateY(100px);
    opacity: 0;
    width: 50%;
    background-color: black;
    color: aliceblue;
    flex-direction: column; /*換行*/
    align-items: center; /*水平至中*/
    justify-content: center; /*高度至中*/
}

.info h2 {
    font-size: 50px;
    margin-bottom: 30px;
    color: aliceblue;
    font-weight: bold;
}

.info p {
    text-align: center;
    line-height: 2em; /*字體大小*/
}

/*///////////////////////////////////////////////////////////////////////work///////////////////////////////////////////////////////////////////////////////////////*/

.work {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: auto;
}

.work h2 {
    height: 100px;
    margin-top: 50px;
    margin-bottom: 0;
    font-size: 60px;
    text-align: center;
    color: aliceblue;
    font-weight: bold;
}

.box {
    height: 500px;
    display: flex;
    justify-content: center;
    height: 650px;
}

.indicator {
    background-color: black;
    border: #000000;
    width: 25vw;
    height: 500px;
    color: #707070;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}

.indicator #left {
    left: 0;
}

.indicator #right {
    right: 0;
}

#right:hover,
#left:hover {
    color: #fff;
}

.box-img {
    display: none; /* 默认隐藏所有图片 */
    width: 80%;
    height: inherit;
    opacity: 0; /* 默认不可见 */
}

.box-img.active {
    display: block; /* 显示当前图片 */
    opacity: 1;
}

.box-img img {
    width: 100%;
    height: inherit;
    object-fit: contain;
    object-position: center;
}

.captions {
    height: 100px;
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
    text-align: center;
    width: 100%;
}

.captions button {
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 2rem;
    border: none;
    background-color: #707070;
}

.captions button:hover {
    background-color: #fff;
}

/*///////////////////////////////////////////////////////////////////////social///////////////////////////////////////////////////////////////////////////////////////*/

.social {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    align-content: center;
}

.blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/兵長賀圖.jpg);
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    z-index: 1;
}

.blur-color {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色 */
    z-index: 2;
}

.content {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    text-align: center;
    align-items: center;
    z-index: 3;
}

.content h2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 60px;
    color: aliceblue;
    font-weight: bold;
}

.social-button {
    display: flex;
    gap: 3rem;
}

/*///////////////////////////////////////////////////////////////////////media header///////////////////////////////////////////////////////////////////////////////////////*/

@media (max-width: 1000px) {
    .me {
        height: 600px;
        flex-direction: column;
    }

    .gradient-overlay2 {
        visibility: hidden;
    }

    .me img {
        width: 100%;
        height: 70%; /* 高和寬都填滿容器 */
    }

    .info {
        width: 100%;
    }

    .info h2 {
        margin-top: 20px;
        font-size: 30px;
        margin-bottom: 20px;
    }

    .info p {
        margin-left: 20px;
        margin-right: 20px;
    }

    /*///////////////////////////////////////////////////////////////////////media work///////////////////////////////////////////////////////////////////////////////////////*/

    .work {
        flex-direction: column;
        height: 610px;
    }

    .work h2 {
        margin-bottom: 10px;
        margin-top: 0;
        top: 0;
        font-size: 30px;
    }

    .box {
        height: 500px;
        display: flex;
        object-fit: cover;
        width: 100%;
    }

    .indicator {
        width: 15vw;
        position: absolute;
        border: #00000000;
        background-color: #00000000;
        font-size: 50px;
        -webkit-text-stroke: 0.5px rgb(91, 91, 91); /* 描边宽度和颜色 */
    }

    #left {
        left: 0;
    }

    #right {
        right: 0;
    }

    .box-img {
        width: 100%;
    }

    .captions button {
        height: 1rem;
        width: 1rem;
    }

    /*///////////////////////////////////////////////////////////////////////media social///////////////////////////////////////////////////////////////////////////////////////*/

    .social {
        display: flex;
        height: 400px;
        text-align: center;
    }

    .blur-overlay {
        background-repeat: no-repeat;
        filter: blur(10px); /* 模糊 */
    }

    .blur-color {
        height: 600px;
        background-color: rgba(0, 0, 0, 0.592); /* 半透明黑色叠加 */
    }

    .content {
        top: 30px;
    }

    .content h2 {
        margin-bottom: 1.5rem;
        font-size: 45px;
    }
}
