*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #0d0d0d;
}





h2{
    color: aliceblue;

}

/*///////////////////////////////////////////////////////////////////////me///////////////////////////////////////////////////////////////////////////////////////*/

.me{
    position: relative;
    height: 800px;
    display: flex; 
    z-index: 7;   
}

.gradient-overlay2{
    transform: translateY(100px); /* 初始位置在下方 */
    opacity: 0;              
    position: absolute;
    left: 0;
    width: 80%;
    height: 100%;
    background: linear-gradient(to left, rgb(1, 4, 17) 37%, rgba(3, 13, 49, 0) 55%);
    z-index: 1;
}

.me img{    
    transform: translateY(100px); 
    opacity: 0;              /* 初始不可见 */
    position: relative;
    width: 50%;
    height: 100%; /* 高和寬都填滿容器 */
    object-fit: cover; /* 和background-image設定background-size: cover一樣，圖片剛好填滿 */
    object-position: center;
    
}

.info{
    transform: translateY(100px); 
    opacity: 0;   
    width: 50%;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;/*換行*/
    align-items: center;/*水平至中*/
    justify-content: center;/*高度至中*/
    z-index: 2;
}

.info h2{
    font-size: 50px;
    margin-bottom: 30px;
}

.info p{
    text-align: center;
    line-height: 2em;/*字體大小*/
}
/*///////////////////////////////////////////////////////////////////////social///////////////////////////////////////////////////////////////////////////////////////*/

.social{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    text-align: center;
    overflow: hidden;
    align-items: center;
}

.blur-overlay {
    position: absolute;
    width: 100%;
    height: 600px;
    background-image: url(image/兵長賀圖.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(10px); /* 模糊 */
}

.blur-color{
    position: absolute;
    width: 100%;
    height: 600px;
     background-color: rgba(0, 0, 0, 0.592); /* 半透明黑色叠加 */
     z-index: 1;
}

.social h2{ 
    position: relative; /* 保证文字在模糊层之上 */
    z-index: 2; /* 让文字不被背景遮盖 */
    margin-top: 60px; 
    margin-bottom: 10px;
    font-size: 60px;
}

.content{
    position: relative;
    display: flex;
    z-index: 2;
    top: 70px;
}

.social-button{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 50px;
}

.social-button :hover{
    cursor: pointer;
}

.content li{
    margin-top: 15px;
    margin-left: 40px;
    margin-right: 40px;
    list-style: none;
}

.content a{
    text-decoration: none;
    color: #ffffff;
}

.content a:hover{
    color: rgb(202, 201, 141);
    text-decoration: underline;
}