*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #292929;
    
}

header{
    position: fixed;   
    background-color: #292929d2;
    backdrop-filter: blur(10px); /* 模糊背景 */
    height: 100px;
    width: 100%;
    z-index: 10;
}

h1{
    position: absolute;
    color: aliceblue;
    line-height: 100px;
    margin-left: 7vw;   
}

h2{
    font-size: 60px;
    color: aliceblue;
}

.h3{
    font-size: 50px;
    color: aliceblue;
}

.h4{
    font-size: 30px;
    color: aliceblue;
}
header ul{  
    line-height: 100px;
    text-align: center;  
}

header li{
    
    display: inline;
    margin-right:3vw;
    
}

header a{
    color: aliceblue;
    text-decoration: none;
}

header a:hover{
    color: rgb(202, 201, 141);
    text-decoration: underline;
}

.title{
    background-image: url(image/兵長賀圖.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    position: relative;
    height: 100vh; 
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.work1{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.text1{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 0;
    height: 100vh;
    width: 50%;
    z-index: 2;
}

.box{

    display: flex;
    margin: 20px;
    border-radius: 15px;
    z-index: 1;
}

.box img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

footer{
    display: flex;
    background-color:  #292929;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: center;
}

.back-to-top {
    position: relative;
    display: flex;
    padding: 15px 30px;
    background-color: #525252; /* 按钮背景色 */
    color: #fff;     /* 按钮文字颜色 */
    border: none; 
    border-radius: 15px; /* 圆形按钮 */
    cursor: pointer; 
    font-size: 16px; 
    align-items: center;
}

.back-to-top:hover {
    background-color: #bfbfbf;
}