*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #292929;
}

header{
    position: fixed;   
    background-color: #292929d2;
    backdrop-filter: blur(10px); /* 模糊背景 */
    height: 100px;
    width: 100%;
    z-index: 10;
}

footer{
    background-color:  #292929;
    width: 100%;
    height: 100px;
}

h1{
    position: absolute;
    color: aliceblue;
    line-height: 100px;
    margin-left: 7vw;   
}

h2{
    color: aliceblue;
    
}

header ul{  
    line-height: 100px;
    text-align: center;  
}

header li{
    
    display: inline;/*橫式排列*/
    margin-right:3vw;/*vw是整體視窗寬度的百分比，會依據縮放自動變化*/
    
}

header a{
    color: aliceblue;
    text-decoration: none;
}

header a:hover{
    color: rgb(202, 201, 141);
    text-decoration: underline;
}

.title{
    position: relative;
    background-image: url(image/兵長賀圖.jpg);
    background-color: black;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center; /* 垂直居中 */
    justify-content: center; /* 水平居中 */

}

#logo{
    position: relative;
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}



.title h2{
    position: absolute; /* 使文字定位在图片上 */
    font-size: 60px;  
    text-align: center;
}

.me{
    height: 800px;
    display: flex;    
}

.me img{    
    position: relative;
    width: 50%;
    height: 100%; /* 高和寬都填滿容器 */
    object-fit: cover; /* 和background-image設定background-size: cover一樣，圖片剛好填滿 */
    object-position: center;
    
}

.info{
    width: 50%;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;/*換行*/
    align-items: center;/*水平至中*/
    justify-content: center;/*高度至中*/
}

.info h2{
    font-size: 50px;
    margin-bottom: 30px;
}

.info p{
    text-align: center;
    line-height: 2em;/*字體大小*/
}

.work{
    background-color: black;
    height: 800px;
    display: flex;
    flex-direction: column;

}

.work h2{
    margin-top: 20px; 
    margin-bottom: 20px;
    font-size: 60px;
    text-align: center;
}

.box{
    position: relative;
    display: flex;
    height: 650px;
    margin: 0;
}

.box-left{
    position: absolute;
    background-color: black;
    border: #000000;
    width: 25vw;
    height: 600px;
    color: #707070;
    text-align: center;
    line-height: 600px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
   
}

.box-right{
    position: absolute;
    background-color: black;
    border: #000000;
    right: 0;
    width: 25vw;
    height: 600px;
    color: #707070;
    text-align: center;
    line-height: 600px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;/* 鼠标悬停在按钮上时，指针变成手型 */
   
}

.box-left,.box-right:hover {
    color: #fff;
}



.box-img{
    display: none; /* 默认隐藏所有图片 */
    position: absolute;
    top: 0;
    width: 70%;
    height: 800px;
    margin-left: 15vw;
    opacity: 0; /* 默认不可见 */
    transition: opacity 0.5s ease-in-out; /* 添加过渡效果 */
}

.box-img.active{
    display: block; /* 显示当前图片 */
    opacity: 1;
}


.box-img img{    
    width: 100%;
    height: 600px;;
    object-fit: contain;
    object-position: center;

}

.box-zhiding{
    position: absolute;
    bottom: 3px;
    text-align: center;
    width: 100%;
}

.box-zhiding ul{
    padding: 0;
    margin: 0 auto;
    list-style: none;
    display: inline-block;
}

.box-zhiding li{
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: #707070;
    display: inline-block;
    margin-right: 10px;
}

.box-zhiding li:hover{
    background-color: #fff;
}

.social{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 500px;
    background-color: #000000;
    text-align: center;
}

.social h2{
    margin-top: 20px; 
    margin-bottom: 20px;
    font-size: 60px;
}

.social-button{
    position: relative;
    display: flex;
    flex-direction: column;

}
