*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: #292929;
    height: 100px;
    width: 100%;
}

main{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #292929;
}

footer{
    background-color:  #292929;
    border: 5px,0px #292929 solid;
}

h1{
    position: absolute;
    color: aliceblue;
    line-height: 100px;
    margin-left: 7vw;   
}

h2{
    color: aliceblue;
    
}

header ul{  
    line-height: 100px;
    text-align: center;  
}

header li{
    
    display: inline;/*橫式排列*/
    margin-right:3vw;/*vw是整體視窗寬度的百分比，會依據縮放自動變化*/
    
}

header a{
    color: aliceblue;
    text-decoration: none;
}

header a:hover{
    color: rgb(202, 201, 141);
    text-decoration: underline;
}

.title{
    background-image: url(image/兵長賀圖.jpg);
    background-color: black;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

#logo{
    position: relative;
    height: 30vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
}



.title h2{
    font-size: 60px;  
    z-index: 1;  
    position: relative
}

.me{
    height: 800px;
    background-image: url(image/兵長賀圖.jpg);
    display: flex;    
}

.me img{    
    position: relative;
    width: 50%;
    height: 100%; /* 高和寬都填滿容器 */
    object-fit: cover; /* 和background-image設定background-size: cover一樣，圖片剛好填滿 */
    object-position: center;
    
}

.info{
    width: 50%;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;/*換行*/
    align-items: center;/*水平至中*/
    justify-content: center;/*高度至中*/
}

.info h2{
    font-size: 50px;
    margin-bottom: 30px;
}

.info p{
    text-align: center;
    line-height: 2em;/*字體大小*/
}

.work{
    background-color: black;
    height: 800px;
    display: flex;
    flex-direction: column;

}

.work h2{
    margin-top: 20px; 
    margin-bottom: 20px;
    font-size: 60px;
    text-align: center;
}

.box{
    position: relative;
    display: flex;
    height: 650px;
    margin: 0;
}

.box-left{
    position: absolute;
    width: 5vw;
    height: 600px;
    color: #707070;
    text-align: center;
    line-height: 600px;
    font-size: 30px;
    font-weight: bold;
   
}

.box-right{
    position: absolute;
    right: 0;
    width: 5vw;
    height: 600px;
    color: #707070;
    text-align: center;
    line-height: 600px;
    font-size: 30px;
    font-weight: bold;
   
}

.box-left:hover {
    background-color: #00000050;
    color: #fff;
}

.box-right:hover {
    background-color: #00000050;
    color: #fff;
}

.box-img{
    position: absolute;
    top: 0;
    width: 90%;
    height: 800px;
    margin-left: 5vw;
    opacity: 0;
}

.box-img:nth-child(1){
    opacity: 1;
}

.box-img img{    
    width: 100%;
    height: 600px;;
    object-fit: cover;
    object-position: center;

}

.box-zhiding{
    position: absolute;
    bottom: 3px;
    text-align: center;
    width: 100%;
}

.box-zhiding ul{
    padding: 0;
    margin: 0 auto;
    list-style: none;
    display: inline-block;
}

.box-zhiding li{
    width: 14px;
    height: 14px;
    border-radius: 100%;
    background-color: #707070;
    display: inline-block;
    margin-right: 10px;
}

.box-zhiding li:hover{
    background-color: #fff;
}

